* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#dataDisplay {
  display: flex;
  margin: 20px;
  padding: 20px;
  gap: 20px;
}

.card {
  width: 400px;
  padding: 15px 20px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}

.card-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
  font-weight: 600;
}

.card-inner-title {
  font-weight: 600;
  font-size: 14px;
}

.card-title p {
  margin: 0;
}

.card-title__title {
  font-size: 18px;
  font-weight: bold;
}

.card-title__category {
  text-transform: uppercase;
  font-size: 14px;
}

.bg-blue, .bg-green, .bg-purple {
  color: white;
}

.bg-blue { background-color: #3498db; }
.bg-green { background-color: #2ecc71; }
.bg-purple { background-color: #9b59b6; }

.country-list-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  padding: 10px 0;
  gap: 10px;
}

.country-list {
  display: flex;
  align-items: center;
  padding: 10px;
  list-style: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  box-sizing: border-box;
}

.country-list__total {
  border-radius: 5px;
  padding: 5px 15px;
  margin-right: 10px;
}

.country-list__name {
  text-transform: capitalize;
}

.category-men { color: #10B981; }
.category-women { color: #6366F1; }
.category-youth { color: #3B82F6; }

.country-list__total.category-men { background-color:#10B981; color: white; }
.country-list__total.category-women { background-color:#6366F1; color: white; }
.country-list__total.category-youth { background-color:#3B82F6; color: white; }

/* Category-specific styling for .country-list background */
.country-list.category-men { background-color: #DCFCE7; }
.country-list.category-women { background-color: #E0E7FF; }
.country-list.category-youth { background-color: #E0F2FE; }

/* Default styling if category is not matched */
.country-list-container--default {
  background-color: #f0f0f0;
  color: #333;
}
